
<div style="padding: 20px" class="white-font">
  <div style="font-size: 14pt">
    {{getPlayerHeader()}}
  </div>

  <div *ngIf="questionList.length > 0 && gameStarted && !gameOver" style="margin-top: 40px">
    <div style="font-size:14pt">
      Question: {{questionList[currentQuestion].question}}
    </div>
    <div>
      <input type="radio" name="answer" [(ngModel)]="currentAnswer" value="A" /> {{questionList[currentQuestion].A}}
    </div>
    <div>
      <input type="radio" name="answer" [(ngModel)]="currentAnswer" value="B"/> {{questionList[currentQuestion].B}}
    </div>
    <div>
      <input type="radio" name="answer" [(ngModel)]="currentAnswer" value="C"/> {{questionList[currentQuestion].C}}
    </div>
    <div>
      <input type="radio" name="answer" [(ngModel)]="currentAnswer" value="D"/> {{questionList[currentQuestion].D}}
    </div>
    <div>
      <button (click)="submitAnswer()" style="color:#000">Submit Answer</button>
    </div>
  </div>
</div>



<div *ngFor="let player of playerList">
  {{player}}
</div>
