<div style="width: 100%; margin-top: 50px; text-align: center; font-size: 20pt; color: #FFF; font-weight: bold">
  Welcome to Brock Trivia HQ!
</div>

<div style="text-align: center; margin-top: 50px;">
  <div class="white-font">
    Enter a Username
  </div>
  <div>
    <input placeholder="username" [(ngModel)]="newPlayerName" />
  </div>
  <div>
    <button (click)="createNewPlayer()" [disabled]="newPlayerName.length == 0 || isLoggingIn">Let's Play!</button>
  </div>
  <div *ngIf="isLoggingIn" class="white-font">
    Please Wait ....
  </div>
  <div *ngIf="errorText.length > 0">
    {{errorText}}
  </div>
</div>
