<div class="welcome-header">
  Welcome to Brock Trivia HQ!
</div>

<div class="login-content">
  <div>
    Enter a Username
  </div>
  <div>
    <input placeholder="username" [(ngModel)]="newPlayerName" />
  </div>
  <div style="margin-top: 20px;">
    <button (click)="createNewPlayer()" [disabled]="newPlayerName.length == 0 || isLoggingIn">Let's Play!</button>
  </div>
  <div *ngIf="isLoggingIn">
    Please Wait ....
  </div>
  <div *ngIf="errorText.length > 0">
    {{errorText}}
  </div>
</div>
